*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:1px solid red;
}

header{
    background-color: #3161e0;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}


#logo{
    max-width: 100px;
    max-height: 20px;
    background-color: white;
}

ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

ul li{
    min-width: 50px;
    max-height: 20px;
    background-color: white;
   border: 1px solid black;
    list-style: none;
   
   
}

nav{
    padding: 20px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
}



#button-nav{
    width: 20px;
    height: 20px;
    background-color: red;
}

#titolo-1{
    width: 200px;
    height: 40px;
    background-color:blueviolet;
}

#parag-1{
    width: 100px;
    height: 40px;
    background-color: white;
   
}

.center-header{
    align-self: center;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    
}

.text{
    justify-content: space-between;
    display: flex;
    background-color: green;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.buttons-head{
    display: flex;
   justify-content: center;
   gap: 20px;
   padding: 20px;
}

#white{
    background-color: white;
    width: 30px;
    height: 20px;
}

#black{
    background-color: black;
    width: 30px;
    height: 20px;
}

.sectioncol{
    width: 100%;
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#foto-1{
    order: 1;
    width: 300px;
    height: 300px;
    background-color: red;
}

#titolo-2{
    min-width: 200px;
    min-height: 100px;
    background-color:blueviolet;
}

#parag-2{
    width: 200px;
    min-height: 200px;
    background-color: black;
    ;
}

.text-2{
    order: 2;
    flex-direction: column;
    display: flex;
    align-items: center;
}