*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:1px solid red;
}

header{
    background-color: #3161e0;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}


#logo{
    max-width: 100px;
    max-height: 20px;
    background-color: white;
}

#ul-header{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#ul-header li{
    min-width: 50px;
    max-height: 20px;
    background-color: white;
   border: 1px solid black;
    list-style: none;
   
   
}

nav{
    padding: 20px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
}



#button-nav{
    width: 20px;
    height: 20px;
    background-color: red;
}

#titolo-header{
    width: 200px;
    height: 40px;
    background-color:blueviolet;
}

#parag-header{
    width: 100px;
    height: 40px;
    background-color: white;
   
}

.center-header{
    align-self: center;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    
}

.text-header{
    justify-content: space-between;
    display: flex;
    background-color: green;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.buttons-head{
    display: flex;
   justify-content: center;
   gap: 20px;
   padding: 20px;
}

#white{
    background-color: white;
    width: 30px;
    height: 20px;
}

#black{
    background-color: black;
    width: 30px;
    height: 20px;
}

.sectioncol{
    width: 100%;
    background-color: white;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.foto{
    
    width: 300px;
    height: 300px;
    background-color: red;
}

.titolo{
    min-width: 200px;
    min-height: 100px;
    background-color:blueviolet;
}

.parag{
    width: 200px;
    min-height: 200px;
    background-color: black;
    ;
}

.text{
    
    flex-direction: column;
    display: flex;
    align-items: center;
}

#sect-2{
    flex-direction: row-reverse;
}

#sect-4{
    background-color: lightgreen;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

#titolo-sect4{
    width: 600px;
    height: 40px;
    background-color: red;
}

#parag-sect4{
    width: 500px;
    height: 40px;
    background-color: purple;
}

#foto-sect4{
    width: 80%;
    height: 400px;
    background-color: lightblue;
}

#minitit-sect4{
    width: 300px;
    height: 40px;
    background-color: lightcoral;
}

#button-sect4{
    width: 100px;
    height: 30px;
    background-color: black;
}

#sect-5{
    display: flex;
   
    justify-content: space-around;
}

aside{
    display: flex;
    padding: 20px;
}

aside h1{
    width: 60px;
    height: 30px;
    background-color: red;

}

.ul-sect5{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

.ul-sect5 li{
    width: 50px;
    height: 20px;
    list-style: none;
    
}

#sect-6{
    background-color: lightgreen;
    width: 100%;
    height: 100px;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: center;
}

#container-sect6{
    border-top: 1px solid black;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#foto-sect6{
    width: 100px;
    height: 20px;
    background-color: red;
}

#button-sect6{
    width: 100px;
    height: 20px;
    background-color: black;
}

